/* normalize */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --main-title-color: #34313d;
  --main-desc-color: #9e9aa8;
  --main-section-bg-color: #eff1f7;
  --main-links-bg-color: #2bd0d0;
  --main-font-family: Poppins;
  --main-font-weight-700: 700;
  --main-font-weight-400: 400;
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight-700);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  display: block;
  height: auto;
}

/* mixins */
/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* container */
.container {
  max-width: 1150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

@media only screen and (min-width: 320px) {
  .container {
    padding: 0 22px;
  }
}
@media only screen and (min-width: 375px) {
  .container {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1150px) {
  .container {
    padding: 0 20px;
  }
}
/* header start */
.site-header {
  padding-top: 30px;
  padding-bottom: 20px;
}
.site-header__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header__button {
  width: 24px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../images/hamburg-menu.svg");
  background-size: 24px 21px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.site-header__links-wrapper {
  display: none;
  position: absolute;
  top: 54px;
  z-index: 5;
  min-width: 240px;
  max-width: 276px;
  width: 100%;
  border-radius: 10px;
  padding: 30px 20px;
  background-color: #3a3054;
}
.site-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #9e9aa8;
}
.site-header__page-link {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}
.site-header__signup-wrapper {
  margin-top: 22px;
}
.site-header__login {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.site-header__signup {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  display: block;
  margin-top: 20px;
  padding: 12px 9px;
  border-radius: 28px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: var(--main-links-bg-color);
}

.unscrollbody {
  overflow: hidden;
}

.open-menu .site-header__links-wrapper {
  display: block;
}

.open-menu .site-header__button {
  background-image: url("../images/hamburg-quit-menu.svg");
}

/* header finish */
/* header responsive */
@media only screen and (min-width: 320px) {
  .site-header {
    padding-top: 35px;
    padding-bottom: 23px;
  }
  .site-header__links-wrapper {
    top: 56px;
    min-width: 276px;
    max-width: 327px;
    padding: 35px 22px;
  }
  .site-header__page-link {
    margin-bottom: 25px;
  }
  .site-header__signup-wrapper {
    margin-top: 27px;
  }
  .site-header__signup {
    margin-top: 22px;
  }
}
@media only screen and (min-width: 375px) {
  .site-header {
    padding-top: 40px;
  }
  .site-header__links-wrapper {
    top: 57px;
    min-width: 327px;
    max-width: 600px;
    padding: 40px 24px;
  }
  .site-header__page-link {
    margin-bottom: 30px;
  }
  .site-header__signup-wrapper {
    margin-top: 32px;
  }
  .site-header__signup {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 600px) {
  .site-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .site-header__box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__button {
    display: none;
  }
  .site-header__links-wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 422px;
    max-width: 942px;
    width: 100%;
    margin-left: 10px;
    padding: 0;
    background-color: transparent;
  }
  .site-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    border-bottom: none;
  }
  .site-header__page-link {
    margin-bottom: 0;
    font-size: 15px;
    color: var(--main-desc-color);
  }
  .site-header__signup-wrapper {
    margin-top: 0;
  }
  .site-header__login {
    display: inline-block;
    font-size: 15px;
    color: var(--main-desc-color);
  }
  .site-header__signup {
    display: inline-block;
    width: 90px;
    margin-top: 0;
    margin-left: 5px;
    padding: 12px 9px;
    border-radius: 28px;
    text-align: center;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1150px) {
  .site-header {
    padding-top: 48px;
    padding-bottom: 78px;
  }
  .site-header__links-wrapper {
    margin-left: 45px;
  }
  .site-header__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .site-header__page-link {
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .site-header__page-link:hover {
    color: var(--main-title-color);
  }
  .site-header__signup-wrapper {
    margin-top: 0;
  }
  .site-header__signup {
    width: 105px;
    margin-left: 37px;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .site-header__signup:hover {
    background-color: #9ae3e3;
  }
}
/* section one start */
.intro {
  position: relative;
  padding-top: 253px;
  padding-bottom: 148px;
  background-image: url("/images/intro-bg-mobile.svg");
  background-size: 411px 237px;
  background-repeat: no-repeat;
  background-position-x: calc(50% + 75px);
}
.intro__title-wrapper {
  text-align: center;
}
.intro__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -1.05px;
  color: var(--main-title-color);
}
.intro__desc {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.123px;
  color: var(--main-desc-color);
}
.intro__link {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  display: block;
  width: 197px;
  margin: 0 auto;
  border-radius: 28px;
  padding: 14px 40px 12px;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-links-bg-color);
}
.intro__input-wrapper {
  position: absolute;
  right: 20px;
  bottom: -65px;
  left: 20px;
  padding: 20px;
  border-radius: 10px;
  background-image: url("/images/intro-form-bg-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.intro__input {
  min-width: 200px;
  width: 100%;
  margin-bottom: 16px;
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  color: var(--main-title-color);
  background-color: #fff;
}
.intro__input::-webkit-input-placeholder {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  opacity: 0.5;
  color: var(--main-title-color);
}
.intro__input::-moz-placeholder {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  opacity: 0.5;
  color: var(--main-title-color);
}
.intro__input:-ms-input-placeholder {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  opacity: 0.5;
  color: var(--main-title-color);
}
.intro__input::-ms-input-placeholder {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  opacity: 0.5;
  color: var(--main-title-color);
}
.intro__input::placeholder {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
  opacity: 0.5;
  color: var(--main-title-color);
}
.intro__button {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--main-links-bg-color);
}

/* section one finish */
/* section one responsive design */
@media only screen and (min-width: 320px) {
  .intro {
    padding-top: 305px;
    padding-bottom: 148px;
    background-size: 461px 287px;
    background-position-x: calc(50% + 80px);
  }
  .intro__title {
    font-size: 39px;
    line-height: 46px;
  }
  .intro__desc {
    font-size: 15px;
    line-height: 25px;
  }
  .intro__link {
    font-size: 18px;
  }
  .intro__input-wrapper {
    right: 22px;
    bottom: -70.5px;
    left: 22px;
    padding: 22px;
  }
  .intro__input {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__input::-moz-placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__input::placeholder {
    font-size: 14px;
    line-height: 30px;
  }
  .intro__button {
    font-size: 16px;
  }
}
@media only screen and (min-width: 375px) {
  .intro {
    padding-top: 360px;
    padding-bottom: 148px;
    background-size: 511px 337px;
    background-position-x: calc(50% + 90px);
  }
  .intro__title {
    font-size: 42px;
    line-height: 48px;
  }
  .intro__desc {
    font-size: 18px;
    line-height: 30px;
  }
  .intro__link {
    font-size: 20px;
  }
  .intro__input-wrapper {
    right: 24px;
    bottom: -76.5px;
    left: 24px;
    padding: 24px;
  }
  .intro__input {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-moz-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__button {
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) {
  .intro {
    padding-top: 41px;
    padding-bottom: 200px;
    background-image: url("/images/intro-bg-desktop.svg");
    background-size: 411px 280px;
    background-position-x: calc(50% + 210px);
  }
  .intro__title-wrapper {
    min-width: 100px;
    max-width: 281px;
    text-align: start;
  }
  .intro__title {
    font-size: 40px;
    line-height: 48px;
  }
  .intro__desc {
    text-align: start;
    font-size: 18px;
    line-height: 30px;
  }
  .intro__link {
    margin-left: 0;
    font-size: 18px;
  }
  .intro__input-wrapper {
    right: 24px;
    bottom: -76.5px;
    left: 24px;
    padding: 24px;
    background-image: url("/images/intro-form-bg-desktop.svg");
  }
  .intro__input {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-moz-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__input::placeholder {
    font-size: 16px;
    line-height: 36px;
  }
  .intro__button {
    font-size: 18px;
  }
}
@media only screen and (min-width: 750px) {
  .intro {
    padding-top: 41px;
    padding-bottom: 200px;
    background-size: 533px 350px;
    background-position-x: calc(50% + 270px);
  }
  .intro__title-wrapper {
    min-width: 100px;
    max-width: 355px;
  }
  .intro__title {
    font-size: 50px;
    line-height: 60px;
  }
  .intro__desc {
    font-size: 18px;
    line-height: 30px;
  }
  .intro__link {
    margin-left: 0;
    font-size: 18px;
  }
  .intro__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    right: 20px;
    bottom: -66px;
    left: 20px;
    padding: 42px 55px;
  }
  .intro__input {
    margin-bottom: 0;
    font-size: 18px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .intro__input::-moz-placeholder {
    font-size: 18px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .intro__input::placeholder {
    font-size: 18px;
  }
  .intro__button {
    width: 188px;
  }
}
@media only screen and (min-width: 900px) {
  .intro {
    padding-top: 51px;
    padding-bottom: 210px;
    background-size: 633px 382px;
    background-position-x: calc(50% + 330px);
  }
  .intro__title-wrapper {
    min-width: 100px;
    max-width: 440px;
  }
  .intro__title {
    margin-bottom: 5px;
    font-size: 60px;
    line-height: 70px;
  }
  .intro__desc {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 32px;
  }
  .intro__input-wrapper {
    padding: 42px 55px;
  }
  .intro__input {
    font-size: 20px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .intro__input::-moz-placeholder {
    font-size: 20px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 20px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 20px;
  }
  .intro__input::placeholder {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1150px) {
  .intro {
    padding-top: 61px;
    padding-bottom: 222px;
    background-size: 733px 482px;
    background-position-x: calc(50% + 500px);
  }
  .intro__title-wrapper {
    min-width: 100px;
    max-width: 600px;
  }
  .intro__title {
    font-size: 80px;
    line-height: 90px;
  }
  .intro__desc {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 36px;
  }
  .intro__link {
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .intro__link:hover {
    background-color: #9ae3e3;
  }
  .intro__input-wrapper {
    width: 1110px;
    margin: 0 auto;
    bottom: -84px;
    padding: 52px 65px;
  }
  .intro__input {
    padding: 14px 32px;
    font-size: 20px;
  }
  .intro__input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .intro__input::-moz-placeholder {
    font-size: 20px;
  }
  .intro__input:-ms-input-placeholder {
    font-size: 20px;
  }
  .intro__input::-ms-input-placeholder {
    font-size: 20px;
  }
  .intro__input::placeholder {
    font-size: 20px;
  }
  .intro__button {
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .intro__button:hover {
    background-color: #9ae3e3;
  }
}
/* section two start */
.statistics {
  padding-top: 140px;
  padding-bottom: 60px;
  background-color: #eff1f7;
}
.statistics__title-wrapper {
  min-width: 240px;
  margin-bottom: 72px;
  text-align: center;
}
.statistics__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 23px;
  line-height: 33px;
  letter-spacing: -0.7px;
  color: var(--main-title-color);
}
.statistics__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.109px;
  color: var(--main-desc-color);
}
.statistics__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 72px;
  background-image: url("/images/statistics-bg-line.svg");
  background-size: 8px 772px;
  background-repeat: no-repeat;
  background-position: center;
}
.statistics__item {
  position: relative;
  border-radius: 5px;
  padding: 67px 22px 22px;
  text-align: center;
  background-color: #fff;
}
.statistics__item::before {
  position: absolute;
  top: -44px;
  left: calc(50% - 44px);
  display: block;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  background-image: url("/images/brandimg.svg");
  background-size: 88px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.statistics__item:nth-child(2)::before {
  background-image: url("/images/detailedimg.svg");
}
.statistics__item:nth-child(3)::before {
  background-image: url("/images/fullyimg.svg");
}
.statistics__child-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 19px;
  color: var(--main-title-color);
}
.statistics__child-desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  color: var(--main-desc-color);
}

/* section two finish */
/* section two responsive design */
@media only screen and (min-width: 320px) {
  .statistics {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .statistics__title-wrapper {
    min-width: 240px;
    margin-bottom: 82px;
  }
  .statistics__title {
    margin-bottom: 14px;
    font-size: 25px;
    line-height: 40px;
  }
  .statistics__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .statistics__list {
    row-gap: 82px;
    background-size: 8px 860px;
  }
  .statistics__item {
    padding: 72px 27px 27px;
  }
  .statistics__child-title {
    font-size: 22px;
  }
  .statistics__child-desc {
    font-size: 12px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 375px) {
  .statistics {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .statistics__title-wrapper {
    min-width: 240px;
    margin-bottom: 92px;
  }
  .statistics__title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 48px;
  }
  .statistics__desc {
    font-size: 16px;
    line-height: 28px;
  }
  .statistics__list {
    row-gap: 92px;
    background-size: 8px 960px;
  }
  .statistics__item {
    padding: 77px 32px 32px;
  }
  .statistics__child-title {
    font-size: 22px;
  }
  .statistics__child-desc {
    font-size: 15px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 750px) {
  .statistics {
    padding-top: 170px;
    padding-bottom: 90px;
  }
  .statistics__title-wrapper {
    min-width: 240px;
    max-width: 440px;
    margin: 0 auto;
    margin-bottom: 95px;
  }
  .statistics__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 48px;
  }
  .statistics__desc {
    font-size: 18px;
    line-height: 28px;
  }
  .statistics__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 92px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    background-image: none;
    background-size: 8px 560px;
    background-position: top;
  }
  .statistics__item {
    max-width: 300px;
    padding: 77px 32px 32px;
  }
  .statistics__child-title {
    font-size: 22px;
  }
  .statistics__child-desc {
    font-size: 15px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 900px) {
  .statistics {
    padding-top: 170px;
    padding-bottom: 90px;
  }
  .statistics__title-wrapper {
    max-width: 540px;
  }
  .statistics__title {
    font-size: 32px;
  }
  .statistics__desc {
    font-size: 20px;
  }
  .statistics__list {
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .statistics__item {
    max-width: 350px;
  }
  .statistics__child-title {
    font-size: 24px;
  }
  .statistics__child-desc {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1150px) {
  .statistics {
    padding-top: 204px;
    padding-bottom: 120px;
  }
  .statistics__title-wrapper {
    max-width: 540px;
    margin-bottom: 100px;
  }
  .statistics__title {
    margin-bottom: 18px;
    font-size: 40px;
    letter-spacing: -1px;
  }
  .statistics__desc {
    line-height: 32px;
  }
  .statistics__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 0;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    background-image: url("/images/statistics-bg-line-desktop.svg");
    background-size: 1110px 8px;
    background-position-y: calc(50% - 17px);
  }
  .statistics__item {
    max-width: 350px;
    text-align: start;
  }
  .statistics__item::before {
    left: 32px;
  }
  .statistics__item:nth-child(2) {
    margin-top: 44px;
  }
  .statistics__item:nth-child(3) {
    margin-top: 88px;
  }
  .statistics__child-desc {
    font-size: 14px;
  }
}
/* article start */
.site-article {
  background-image: url("/images/article-bg-img-mobile.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.site-article__box {
  padding: 70px 15px;
}
.site-article__title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-size: 19px;
  line-height: 35px;
  letter-spacing: -0.7px;
  color: #f3f3f3;
}
.site-article__link {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  display: block;
  width: 197px;
  margin: 0 auto;
  padding: 14px 40px 12px;
  border-radius: 28px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-links-bg-color);
}

/* article finish */
/* article responsive design */
@media only screen and (min-width: 320px) {
  .site-article__box {
    padding: 80px 13px;
  }
  .site-article__title {
    margin-bottom: 14px;
    font-size: 23px;
    line-height: 43px;
  }
  .site-article__link {
    font-size: 18px;
  }
}
@media only screen and (min-width: 375px) {
  .site-article__box {
    padding: 90px 11px;
  }
  .site-article__title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 48px;
  }
  .site-article__link {
    font-size: 20px;
  }
}
@media only screen and (min-width: 750px) {
  .site-article {
    background-image: url("/images/article-bg-img-desktop.svg");
  }
  .site-article__box {
    padding: 90px 11px;
  }
  .site-article__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 48px;
  }
  .site-article__link {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1150px) {
  .site-article__box {
    padding: 57px 0px;
  }
  .site-article__title {
    margin-bottom: 32px;
    font-size: 40px;
  }
  .site-article__link {
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .site-article__link:hover {
    background-color: #9ae3e3;
  }
}
/* footer start */
.site-footer {
  padding-top: 44px;
  padding-bottom: 46px;
  background-color: #232127;
}
.site-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.site-footer--logo {
  width: 120px;
  margin: 0 auto;
}
.site-footer__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 28px;
  margin-top: 39px;
  margin-bottom: 36px;
}
.site-footer__link-box {
  text-align: center;
}
.site-footer__bold-text {
  font-size: 16px;
  letter-spacing: -0.25px;
  color: #fff;
}
.site-footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 18px;
  text-align: center;
}
.site-footer__link {
  display: inline-block;
  text-decoration-line: none;
  color: #000;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.234px;
  color: #bfbfbf;
}
.site-footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.site-footer__svg-img {
  color: #fff;
}

/* footer finish */
/* footer responsive design */
@media only screen and (min-width: 320px) {
  .site-footer {
    padding-top: 49px;
    padding-bottom: 51px;
  }
  .site-footer__links-wrapper {
    row-gap: 33px;
    margin-top: 44px;
    margin-bottom: 41px;
  }
  .site-footer__list {
    margin-top: 20px;
  }
  .site-footer__link {
    font-size: 14px;
  }
  .site-footer__social-wrapper {
    -webkit-column-gap: 22px;
       -moz-column-gap: 22px;
            column-gap: 22px;
  }
}
@media only screen and (min-width: 375px) {
  .site-footer {
    padding-top: 54px;
    padding-bottom: 56px;
  }
  .site-footer__links-wrapper {
    row-gap: 38px;
    margin-top: 49px;
    margin-bottom: 46px;
  }
  .site-footer__list {
    margin-top: 22px;
  }
  .site-footer__link {
    font-size: 15px;
  }
  .site-footer__social-wrapper {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media only screen and (min-width: 600px) {
  .site-footer {
    padding-top: 54px;
    padding-bottom: 56px;
  }
  .site-footer__links-wrapper {
    row-gap: 40px;
    margin-top: 50px;
    margin-bottom: 48px;
  }
  .site-footer__bold-text {
    font-size: 20px;
  }
  .site-footer__list {
    row-gap: 15px;
    margin-top: 25px;
  }
  .site-footer__link {
    font-size: 18px;
  }
  .site-footer__social-wrapper {
    -webkit-column-gap: 27px;
       -moz-column-gap: 27px;
            column-gap: 27px;
  }
}
@media only screen and (min-width: 750px) {
  .site-footer {
    padding-top: 60px;
    padding-bottom: 58px;
  }
  .site-footer__links-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0;
    -webkit-column-gap: 68px;
       -moz-column-gap: 68px;
            column-gap: 68px;
    margin-top: 49px;
    margin-bottom: 46px;
  }
  .site-footer__list {
    margin-top: 22px;
  }
  .site-footer__link {
    font-size: 15px;
  }
  .site-footer__social-wrapper {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media only screen and (min-width: 1150px) {
  .site-footer {
    padding-top: 71px;
    padding-bottom: 70px;
  }
  .site-footer__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-footer--logo {
    width: 120px;
    margin: 0;
  }
  .site-footer__links-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 0;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    margin-top: 0;
    margin-right: 101px;
    margin-bottom: 0;
    margin-left: auto;
  }
  .site-footer__link-box {
    margin-right: 78px;
    text-align: start;
  }
  .site-footer__link-box:nth-child(2) {
    margin-right: 106px;
  }
  .site-footer__link-box:nth-child(3) {
    margin-right: 0;
  }
  .site-footer__list {
    margin-top: 22px;
    text-align: start;
  }
  .site-footer__link {
    font-size: 15px;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .site-footer__link:hover {
    color: #2bd0d0;
  }
  .site-footer__social-wrapper {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
  .site-footer__svg-img {
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .site-footer__svg-img:hover {
    color: #2bd0d0;
  }
}/*# sourceMappingURL=main.css.map */