/* article start */
.site-article {
   background-image: url("/images/article-bg-img-mobile.svg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;

   &__box {
      padding: 70px 15px;
   }

   &__title {
      margin-top: 0;
      margin-bottom: 12px;
      text-align: center;
      font-size: 19px;
      line-height: 35px;
      letter-spacing: -0.7px;
      color: #f3f3f3;
   }

   &__link {
      @include link-unstyled;
      display: block;
      width: 197px;
      margin: 0 auto;
      padding: 14px 40px 12px;
      border-radius: 28px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      background-color: var(--main-links-bg-color);
   }
}
/* article finish */

/* article responsive design */
@media only screen and (min-width: 320px) {
   .site-article {
   
      &__box {
         padding: 80px 13px;
      }
   
      &__title {
         margin-bottom: 14px;
         font-size: 23px;
         line-height: 43px;
      }
   
      &__link {
         font-size: 18px;
      }
   }
}

@media only screen and (min-width: 375px) {
   .site-article {
   
      &__box {
         padding: 90px 11px;
      }
   
      &__title {
         margin-bottom: 16px;
         font-size: 28px;
         line-height: 48px;
      }
   
      &__link {
         font-size: 20px;
      }
   }
}

@media only screen and (min-width: 750px) {
   .site-article {
      background-image: url("/images/article-bg-img-desktop.svg");
   
      &__box {
         padding: 90px 11px;
      }
   
      &__title {
         margin-bottom: 20px;
         font-size: 30px;
         line-height: 48px;
      }
   
      &__link {
         font-size: 20px;
      }
   }
}

@media only screen and (min-width: 1150px) {
   .site-article {
   
      &__box {
         padding: 57px 0px;
      }
   
      &__title {
         margin-bottom: 32px;
         font-size: 40px;
      }
   
      &__link {
         transition: background-color 0.3s linear;

         &:hover {
            background-color: #9ae3e3;
         }
      }
   }
}