/* section two start */
.statistics {
   padding-top: 140px;
   padding-bottom: 60px;
   background-color: #eff1f7;

   &__title-wrapper {
      min-width: 240px;
      margin-bottom: 72px;
      text-align: center;
   }

   &__title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 23px;
      line-height: 33px;
      letter-spacing: -0.7px;
      color: var(--main-title-color);
   }

   &__desc {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.109px;
      color: var(--main-desc-color);
   }

   &__list {
      @include list-unstyled;
      display: flex;
      flex-direction: column;
      row-gap: 72px;
      background-image: url("/images/statistics-bg-line.svg");
      background-size: 8px 772px;
      background-repeat: no-repeat;
      background-position: center;
   }

   &__item {
      position: relative;
      border-radius: 5px;
      padding: 67px 22px 22px;
      text-align: center;
      background-color: #fff;

      &::before {
         position: absolute;
         top: -44px;
         left: calc(50% - 44px);
         display: block;
         width: 88px;
         height: 88px;
         margin: 0 auto;
         background-image: url("/images/brandimg.svg");
         background-size: 88px;
         background-repeat: no-repeat;
         background-position: center;
         content: "";
      }

      &:nth-child(2)::before {
         background-image: url("/images/detailedimg.svg");
      }

      &:nth-child(3)::before {
         background-image: url("/images/fullyimg.svg");
      }
   }

   &__child-title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 19px;
      color: var(--main-title-color);
   }

   &__child-desc {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 500;
      line-height: 20px;
      color: var(--main-desc-color);
   }
}
/* section two finish */

/* section two responsive design */
@media only screen and (min-width: 320px) {
   .statistics {
      padding-top: 150px;
      padding-bottom: 70px;
   
      &__title-wrapper {
         min-width: 240px;
         margin-bottom: 82px;
      }
   
      &__title {
         margin-bottom: 14px;
         font-size: 25px;
         line-height: 40px;
      }
   
      &__desc {
         font-size: 14px;
         font-weight: 500;
         line-height: 24px;
      }
   
      &__list {
         row-gap: 82px;
         background-size: 8px 860px;
      }
   
      &__item {
         padding: 72px 27px 27px;
      }
   
      &__child-title {
         font-size: 22px;
      }
   
      &__child-desc {
         font-size: 12px;
         line-height: 24px;
      }
   }
}

@media only screen and (min-width: 375px) {
   .statistics {
      padding-top: 160px;
      padding-bottom: 80px;
   
      &__title-wrapper {
         min-width: 240px;
         margin-bottom: 92px;
      }
   
      &__title {
         margin-bottom: 16px;
         font-size: 28px;
         line-height: 48px;
      }
   
      &__desc {
         font-size: 16px;
         line-height: 28px;
      }
   
      &__list {
         row-gap: 92px;
         background-size: 8px 960px;
      }
   
      &__item {
         padding: 77px 32px 32px;
      }
   
      &__child-title {
         font-size: 22px;
      }
   
      &__child-desc {
         font-size: 15px;
         line-height: 26px;
      }
   }
}

@media only screen and (min-width: 750px) {
   .statistics {
      padding-top: 170px;
      padding-bottom: 90px;
   
      &__title-wrapper {
         min-width: 240px;
         max-width: 440px;
         margin: 0 auto;
         margin-bottom: 95px;
      }
   
      &__title {
         margin-bottom: 20px;
         font-size: 30px;
         line-height: 48px;
      }
   
      &__desc {
         font-size: 18px;
         line-height: 28px;
      }
   
      &__list {
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
         row-gap: 92px;
         column-gap: 50px;
         background-image: none;
         background-size: 8px 560px;
         background-position: top;
      }
   
      &__item {
         max-width: 300px;
         padding: 77px 32px 32px;
      }
   
      &__child-title {
         font-size: 22px;
      }
   
      &__child-desc {
         font-size: 15px;
         line-height: 26px;
      }
   }
}

@media only screen and (min-width: 900px) {
   .statistics {
      padding-top: 170px;
      padding-bottom: 90px;
   
      &__title-wrapper {
         max-width: 540px;
      }
   
      &__title {
         font-size: 32px;
      }
   
      &__desc {
         font-size: 20px;
      }
   
      &__list {
         column-gap: 70px;
      }
   
      &__item {
         max-width: 350px;
      }
   
      &__child-title {
         font-size: 24px;
      }
   
      &__child-desc {
         font-size: 16px;
      }
   }
}

@media only screen and (min-width: 1150px) {
   .statistics {
      padding-top: 204px;
      padding-bottom: 120px;
   
      &__title-wrapper {
         max-width: 540px;
         margin-bottom: 100px;
      }
   
      &__title {
         margin-bottom: 18px;
         font-size: 40px;
         letter-spacing: -1px;
      }
   
      &__desc {
         line-height: 32px;
      }
   
      &__list {
         justify-content: space-between;
         align-items: flex-start;
         flex-wrap: nowrap;
         row-gap: 0;
         column-gap: 30px;
         background-image: url("/images/statistics-bg-line-desktop.svg");
         background-size: 1110px 8px;
         background-position-y: calc(50% - 17px);
      }
   
      &__item {
         max-width: 350px;
         text-align: start;

         &::before {
            left: 32px;
         }

         &:nth-child(2) {
            margin-top: 44px;
         }

         &:nth-child(3) {
            margin-top: 88px;
         }
      }

      &__child-desc {
         font-size: 14px;
      }
   }
}